{% extends "layout.jinja2" %}
{% block content %}
    <br>
    <div class="row">
        <div class="card col-sm-6 offset-sm-3">
            <h1 class="panel-title text-center text-muted">Actualizar Cancion</h1>
            <form method="get">
                <div class="panel-body">
                    <div class="form-group">
                        <input type="number" name="id" id="id" class="form-control input-sm" value="{{ cancion.id if cancion is defined}}" placeholder="ID" required>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 offset-sm-4">
                            <input type="submit" class="btn btn-info btn-block " value="Consultar"/>
                        </div>
                    </div>
                </div>
            </form>
            <form method="post">
                <div>
                    <br>
                    <div class="form-group">
                        <input readonly type="text" name="id" id="id" class="form-control input-sm" value="{{ cancion.id if cancion is defined}}" placeholder="ID">
                    </div>
                    <div class="form-group">
                        <input type="text" name="titulo" id="titulo" class="form-control input-sm" placeholder="Titulo" value="{{ '%s' % cancion.titulo if cancion is defined}}"
                               required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="nombre-art" name="nombreArtista" class="form-control input-sm" value="{{ cancion.nombreArtista if cancion is defined}}"
                               placeholder="Nombre del artista" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="genero" name="genero" class="form-control input-sm" value="{{ cancion.genero if cancion is defined}}"
                               placeholder="Genero Musical" required>
                    </div>
                    <div class="form-group">
                        <input type="date" id="fecha" name="fecha" class="form-control input-sm" value="{{ cancion.fechaLanzamiento.strftime('%Y-%m-%d') if cancion is defined}}"
                               placeholder="Fecha Lanzamiento" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 offset-sm-4">
                        <input type="submit" class="btn btn-success btn-block" {{ 'disabled' if cancion is not defined}} value="Modificar"/>
                    </div>
                </div>
                <br>
                <p class="text-success">{{ exito }}</p>
                <p class="text-danger">{{ error }}</p>
            </form>
        </div>
    </div>


{% endblock content %}