{% extends "layout.jinja2" %}
{% block content %}
    <br>
    <div class="row">
        <div class="card col-sm-6 offset-sm-3">
            <h1 class="panel-title text-center text-muted">Agregar canción</h1>
            <form method="POST">
                <div class="panel-body">
                    <div class="form-group">
                        <input type="number" name="id" id="id" class="form-control input-sm" placeholder="ID" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="titulo" id="titulo" class="form-control input-sm" placeholder="Titulo"
                               required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="nombreArtista" id="nombre-art" class="form-control input-sm"
                               placeholder="Nombre del artista" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="genero" id="genero" class="form-control input-sm"
                               placeholder="Genero Musical" required>
                    </div>
                    <div class="form-group">
                        <input type="date" name="fecha" id="first_name" class="form-control input-sm"
                               placeholder="Fecha Lanzamiento" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 offset-sm-4">
                        <input type="submit" class="btn btn-success btn-block " value="Agregar"/>
                    </div>
                </div>
                <br>
                <p class="text-danger">{{ error }}</p>
            </form>

        </div>
    </div>
{% endblock content %}