{% extends "layout.jinja2" %}
{% block content %}
    <br>
    <div class="row">
        <div class="card col-sm-6 offset-sm-3">
            <h1 class="panel-title text-center text-muted">Consultar Cancion</h1>
            <form>
                <div class="panel-body">
                    <div class="form-group">
                        <input type="number" name="id" id="id" class="form-control input-sm" value="{{ cancion.id if cancion is defined}}" placeholder="ID" required>
                    </div>
                    <div class="row">
                    <div class="col-sm-4 offset-sm-4">
                        <input type="submit" class="btn btn-info btn-block " value="Consultar"/>
                    </div>
                </div>
                    <br>
                    <div class="form-group">
                        <input type="text" id="titulo" class="form-control input-sm" readonly placeholder="Titulo" value="{{ '%s' % cancion.titulo if cancion is defined}}"
                               required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="nombre-art" readonly class="form-control input-sm" value="{{ cancion.nombreArtista if cancion is defined}}"
                               placeholder="Nombre del artista" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="genero" class="form-control input-sm" value="{{ cancion.genero if cancion is defined}}"
                               placeholder="Genero Musical" readonly required>
                    </div>
                    <div class="form-group">
                        <input type="tel" id="fecha" readonly class="form-control input-sm" value="{{ cancion.fechaLanzamiento.strftime('%d-%m-%Y') if cancion is defined}}"
                               placeholder="Fecha Lanzamiento" required>
                    </div>
                </div>


                <br>
                <p class="text-danger">{{ error }}</p>
            </form>

        </div>
    </div>
{% endblock content %}