{% extends "layout.jinja2" %} 



    <div class="container ">
        {% block content%}
            <br>
        <img src="{{request.static_url('cancionduff:static/img/duffmann.png')}}" class="rounded mx-auto d-block">
            
        {% endblock content %}
    </div>


