{% extends "layout.jinja2" %}
{% block content%}
    <br>
<div class="row">
<div class="card col-sm-6 offset-sm-3">
<table class="table ">
  <thead class="thead-dark">
    <tr>
        <th scope="colgroup">ID</th>
        <th scope="colgroup">Titulo de la cancion</th>
        <th scope="colgroup">Nombre Artista</th>
        <th scope="colgroup">Genero Musical</th>
        <th scope="colgroup">Fecha Lanzamiento</th>
    </tr>
  </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td> dssda</td>
        <td> dssda</td>
        <td> dssda</td>
        <td> dssda</td>

    </tr>
    <tr>
        <th scope="row">2</th>
        <td> dssda</td>
        <td> dssda</td>
        <td> dssda</td>
        <td> dssda</td>

    </tr>
    <tr>
        <th scope="row">3</th>
        <td> dssda</td>
        <td> dssda</td>
        <td> dssda</td>
        <td> dssda</td>

    </tr>
    <tr>
        <th scope="row">4</th>
        <td> dssda</td>
        <td> dssda</td>
        <td> dssda</td>
        <td> dssda</td>

    </tr>

    </tbody>
</table>
</div>
</div>

{% endblock content %}
