{% extends "layout.jinja2" %}
{% block content%}
    <br>
<div class="row">
<div class="card col-sm-6 offset-sm-3">
<table class="table ">
  <thead class="thead-dark">
    <tr>
        <th scope="colgroup">ID</th>
        <th scope="colgroup">Titulo de la cancion</th>
        <th scope="colgroup">Nombre Artista</th>
        <th scope="colgroup">Genero Musical</th>
        <th scope="colgroup">Fecha Lanzamiento</th>
        <th scope="colgroup">Duracion</th>
    </tr>
  </thead>
    <tbody>
    {% for cancion in canciones %}
        <tr>
            <th scope="row">{{ cancion.id }}</th>
            <td>{{ cancion.titulo }}</td>
            <td>{{ cancion.nombreArtista }}</td>
            <td>{{ cancion.genero }}</td>
            <td>{{ cancion.fechaLanzamiento.strftime('%d-%m-%Y') }}</td>
            <td>{{ cancion.duracion }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>

{% endblock content %}
